In [1]:
conjunto = set()

In [2]:
conjunto

set()

In [3]:
conjunto = {1,2,3}

In [4]:
conjunto

{1, 2, 3}

In [5]:
conjunto.add(4)
conjunto

{1, 2, 3, 4}

In [6]:
conjunto.add(0)
conjunto

{0, 1, 2, 3, 4}

In [7]:
conjunto.add("h")
conjunto

{0, 1, 2, 3, 4, 'h'}

In [8]:
conjunto.add("b")
conjunto

{0, 1, 2, 3, 4, 'b', 'h'}

In [9]:
conjunto.add("z")
conjunto

{0, 1, 2, 3, 4, 'b', 'h', 'z'}

In [10]:
conjunto.add("x")
conjunto

{0, 1, 2, 3, 4, 'b', 'h', 'x', 'z'}

In [11]:
conjunto.add("c")
conjunto

{0, 1, 2, 3, 4, 'b', 'c', 'h', 'x', 'z'}

In [12]:
conjunto.add(20)
conjunto

{0, 1, 2, 20, 3, 4, 'b', 'c', 'h', 'x', 'z'}

In [13]:
conjunto.add(10)
conjunto

{0, 1, 10, 2, 20, 3, 4, 'b', 'c', 'h', 'x', 'z'}

In [14]:
conjunto.add(1.2)
conjunto

{0, 1, 1.2, 10, 2, 20, 3, 4, 'b', 'c', 'h', 'x', 'z'}

In [19]:
grupo = {'Hector', 'Juan', 'Mario'}

In [16]:
'Hector' in grupo

True

In [17]:
'Freddy' in grupo

False

In [20]:
'Hector' not in grupo

False

In [21]:
test = {'Hector', 'Hector', 'Hector'}

In [26]:
test

{'Hector'}

In [27]:
lista = [ 1,2,1,1,3,4,5,2,2,3]
lista

[1, 2, 1, 1, 3, 4, 5, 2, 2, 3]

In [28]:
tup = set(lista)

In [29]:
tup

{1, 2, 3, 4, 5}

In [31]:
lista2 = list(tup)
lista2

[1, 2, 3, 4, 5]

In [32]:
l = [1,2,3,3,2,1]

In [34]:
l = list(set(l))
l

[1, 2, 3]

In [35]:
s = "Al pan pan y al vino vino"
set(s)

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}

In [1]:
conjunto = set()

In [2]:
conjunto

set()

In [3]:
conjunto = {1,2,3}
conjunto

{1, 2, 3}

In [4]:
conjunto.add(4)

In [5]:
conjunto

{1, 2, 3, 4}

In [6]:
conjunto.add(0)

In [7]:
conjunto

{0, 1, 2, 3, 4}

In [8]:
conjunto.add('H')

In [9]:
conjunto

{0, 1, 2, 3, 4, 'H'}

In [10]:
conjunto.add('A')

In [11]:
conjunto.add('Z')

In [12]:
conjunto

{0, 1, 2, 3, 4, 'A', 'H', 'Z'}

In [13]:
conjunto.add('B')
conjunto

{0, 1, 2, 3, 4, 'A', 'B', 'H', 'Z'}

In [15]:
grupo = {'Hector','Juan', 'Mario'}

In [16]:
'Hector' in grupo

True

In [17]:
'Maria' in grupo

False

In [18]:
'Hector' not in grupo

False

In [19]:
test = {'Hector', 'Hector','Hector'}

In [20]:
test

{'Hector'}

In [21]:
l = [1,2,3,3,2,1]
l

[1, 2, 3, 3, 2, 1]

In [22]:
c = set(l)

In [23]:
c

{1, 2, 3}

In [24]:
l = list(c)

In [25]:
l

[1, 2, 3]

In [16]:
l = [1,2,3,3,2,1]

In [19]:
for i,j in enumerate(l):
    print(l[i])

1
2
3
3
2
1

In [27]:
l = list(set(l))

In [28]:
l

[1, 2, 3]

In [29]:
s = "Al pan pan y al vino vino"
set(s)

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}

In [9]:
conjunto = {2,4,6,8,10,12}

In [10]:
conjunto

{2, 4, 6, 8, 10, 12}

In [15]:
for i,j in enumerate(conjunto):
    print(conjunto[i])

TypeError: 'set' object is not subscriptable